.top-navbar {
    padding: 1rem;
    background-color: #505050;
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
    justify-content: space-between;
}

.navbar-actions {
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
}

html, body {
    margin: 0;
    height: 100%;
    width: 100%;
}

#content-wrapper {
    height: 100%;
}

.page-container {
    display: flex;
    flex-direction: column;
    height: 100%;
}
