* {
    box-sizing: border-box;
}

input {
    font-family: inherit;
    font-size: 1rem;
}

.top-navbar {
    padding: 1rem;
    background-color: #505050;
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
    justify-content: space-between;
}

.navbar-actions {
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
}

html, body {
    margin: 0;
    height: 100%;
    width: 100%;
}

#content-wrapper {
    height: 100%;
}

.page-container {
    display: flex;
    flex-direction: column;
    height: 100%;
}

/* Stat Card Styling */

.primary-stat-card {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    justify-content: center;
    align-items: center;
    width: 7rem;
    height: 7rem;
    border: var(--primary-stat-card-outer-border-width) solid red;
    border-radius: var(--primary-stat-card-border-radius);
}

.primary-stat-card .modifier {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
}

.primary-stat-card .bottom-bar {
    display: flex;
    flex-direction: row;
}

.primary-stat-card .bottom-bar > * {
    border-radius: 0;
    flex-grow: 1;
    text-align: center;
    width: 33%;
    height: 1.5rem;
    border: var(--primary-stat-card-inner-border-width) solid red;
    border-bottom: none;
}

.primary-stat-card .bottom-bar > *:focus {
    outline: none;
}

.primary-stat-card .base {
    border-left: none;
    border-right: none;
}

.primary-stat-card .total {
    border-right: none;
    border-left: none;
}

.primary-stat-card .bottom-bar input:focus {
}

.skills-card {
    display: grid;
    grid-template-columns: auto max-content max-content;
    row-gap: 0.25rem;
}

.skills-card input {
    width: 3rem;
    text-align: center;
}

.skills-card .header {
    padding-inline: 0.5rem;
    font-weight: 600;
}

.skills-card .rank, .skills-card .total {
    justify-self: center;
}






.card {
    padding: 0.5rem;
    border: 1px solid oklch(44.6% 0.043 257.281);
    border-radius: 0.5rem;
    overflow: hidden;
}

.card > .label {

}

/* sheet styles */

.main-sheet {
    display: flex;
    flex-direction: row;
    padding: 1rem;
    gap: 1rem;
}

.main-sheet > .stats-area {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-left: auto;
    margin-right: auto;
}

.main-sheet > .stats-area > .main-stats {
    display: flex;
    flex-direction: row;
    gap: 2rem;
    justify-content: center;
}

@media (width < 70rem) {
    .main-sheet {
        flex-direction: column;
    }
    .main-sheet > .stats-area > .main-stats {
        gap: 1rem;
    }
}

.main-sheet > .stats-area > .other-stats {
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

.main-sheet > .stats-area > .other-stats > * {
    flex: 1;
}

.rhd {
    border: 1px solid red;
    }
