{% extends "navbase.html" %}

{% block title %}Home{% endblock %}

{% macro stat_card(stat) %}
<div class="primary-stat-card">
    <div class="label">{{ stat | capitalize }}</div>
    <div title="{{ stat | capitalize }} Modifier" class="modifier">
        <div hx-swap-oob="true" id="{{ stat }}_modifier">+4</div>
    </div>
    <div class="bottom-bar">
        <input
            title="Base {{ stat | capitalize }} Score"
            class="base"
            hx-post="/calculate"
            name="base_{{ stat }}"
            id="base_{{ stat }}"
        />
        <input
            title="Temporary {{ stat | capitalize }} Score"
            class="temp"
            hx-post="/calculate"
            name="temp_{{ stat }}"
            id="temp_{{ stat }}"
        />
        <div
            hx-swap-oob="innerHtml"
            id="{{ stat }}"
            class="total"
            title="{{ stat | capitalize }} Score"
        ></div>
    </div>
</div>
{% endmacro %}

{% macro skill_row(skill) %}
    <span class="label">{{ skill | capitalize }}</span>
    <div
        hx-swap-oob="innerHtml"
        class="total"
        id="stat-{{ skill }}"
    >
        17
    </div>
    <input
        class="rank"
        hx-post="/calculate"
        name="{{ skill }}_rank"
        id="{{ skill }}_rank"
    />
{% endmacro %}

{% block content %}
<div class="main-sheet">
    <div class="stats-area">
        <div class="main-stats">
            {{ stat_card("strength") }}
            {{ stat_card("dexterity") }}
            {{ stat_card("constitution") }}
            {{ stat_card("intelligence") }}
            {{ stat_card("wisdom") }}
            {{ stat_card("charisma") }}
        </div>
        <div class="other-stats">
            <div class="card skills-card">
                <span class="header">Skill</span>
                <span class="header">Score</span>
                <span class="header">Ranks</span>
                {{ skill_row("acrobatics") }}
                {{ skill_row("appraise") }}
                {{ skill_row("bluff") }}
                {{ skill_row("climb") }}
                {{ skill_row("craft") }}
                {{ skill_row("diplomacy") }}
                {{ skill_row("disabledevice") }}
                {{ skill_row("disguise") }}
                {{ skill_row("escapeArtist") }}
                {{ skill_row("fly") }}
                {{ skill_row("handleAnimal") }}
                {{ skill_row("heal") }}
                {{ skill_row("knowledge_arcana") }}
                {{ skill_row("knowledge_Dungeoneering") }}
                {{ skill_row("knowledge_Engineering") }}
                {{ skill_row("knowledge_Geography") }}
                {{ skill_row("knowledge_history") }}
                {{ skill_row("knowledge_local") }}
                {{ skill_row("knowledge_nature") }}
                {{ skill_row("knowledge_nobility") }}
                {{ skill_row("knowledge_planes") }}
                {{ skill_row("knowledge_religion") }}
                {{ skill_row("linguistics") }}
                {{ skill_row("perception") }}
                {{ skill_row("perform") }}
                {{ skill_row("perform") }}
                {{ skill_row("profession") }}
                {{ skill_row("profession") }}
                {{ skill_row("ride") }}
                {{ skill_row("sense_motive") }}
                {{ skill_row("sleight_of_hand") }}
                {{ skill_row("spellcraft") }}
                {{ skill_row("stealth") }}
                {{ skill_row("survival") }}
                {{ skill_row("swim") }}
                {{ skill_row("use_magic_device") }}
            </div>
            <div class="rhd">
            </div>
        </div>
    </div>
    <div class="side-col">
        <div class="card party-card">
            <div class="label">Party</div>
            <p>timmy</p>
            <p>timmy</p>
            <p>timmy</p>
            <p>timmy</p>
        </div>
        <div class="card money-card">
            <div class="label">Money</div>
            <span>platinum: 1</span>
            <span>gold: 1</span>
            <span>silver: 1</span>
            <span>copper: 1</span>
        </div>
        <div class="card items-card">
            <div class="label">Items</div>
        </div>
    </div>
</div>





<!-- <p>BAB: <span id="bab" hx-swap-oob="true"></span></p> -->
<!-- <p>Attack: <span id="attack" hx-swap-oob="true"></span></p> -->
<!-- <p>AC: <span id="ac" hx-swap-oob="true"></span></p> -->

{% endblock %}
