{% extends "navbase.html" %}

{% block title %}Home{% endblock %}

{% macro stat_card(stat) %}
<div class="primary-stat-card">
    <div class="label">{{ stat | capitalize }}</div>
    <div title="{{ stat | capitalize }} Modifier" class="modifier">
        <div hx-swap-oob="true" id="{{ stat }}_modifier">+4</div>
    </div>
    <div class="bottom-bar">
        <input
            title="Base {{ stat | capitalize }} Score"
            class="base"
            hx-post="/calculate"
            name="base_{{ stat }}"
            id="base_{{ stat }}"
        />
        <input
            title="Temporary {{ stat | capitalize }} Score"
            class="temp"
            hx-post="/calculate"
            name="temp_{{ stat }}"
            id="temp_{{ stat }}"
        />
        <div
            hx-swap-oob="innerHtml"
            id="{{ stat }}"
            class="total"
            title="{{ stat | capitalize }} Score"
        ></div>
    </div>
</div>
{% endmacro %}

{% block content %}
<div style="display: flex; flex-direction: row; justify-content: space-around;">
    {{ stat_card("strength") }}
    {{ stat_card("dexterity") }}
    {{ stat_card("constitution") }}
    {{ stat_card("intelligence") }}
    {{ stat_card("wisdom") }}
    {{ stat_card("charisma") }}
</div>
<p>BAB: <span id="bab" hx-swap-oob="true"></span></p>
<p>Attack: <span id="attack" hx-swap-oob="true"></span></p>
<p>AC: <span id="ac" hx-swap-oob="true"></span></p>
{% endblock %}
